<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商城配置</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">

</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                        <h3 style="font-weight: bolder;color: #ff2c16" >数据统计：</h3>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">进入第一轮的单子：</label>
                            <div class="input-group col-sm-4">
                                <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$one?:0}">
                            </div>

                        </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">进入第二轮的单子：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$two?:0}">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">进入第三轮的单子：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$three?:0}">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">进入第四轮的单子：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$four?:0}">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">出局的单子：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$chu?:0}">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">累计中期红利：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$hls?:0}">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">累计大礼包总收益：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$num_money?:0}">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">累计大礼包总订单数：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$num?:0}">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">累计招募薪资：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$zm?:0}">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">累计月度薪资：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$yx?:0}">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">累计复投单子总数：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$ft?:0}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">公司运营总费用：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$yy?:0}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">收益：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$sy?:0}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">支出/收入：</label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control" name="back_domain" required="" aria-required="true" value="{$bb.'%'}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>

<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/plugins/layui/layui.js"></script>

</body>
</html>

