<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单管理</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link rel="stylesheet" href="__JS__/plugins/layui/css/layui.css">
</head>
<style>
   .one{margin-left:40px;color:#f00}
   .two{margin-left:40px;color:darkgreen;}
   .three{margin-left:40px;color:#f0f}

</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>订单列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <form id='commentForm' role="form" method="post" class="form-inline">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>用户名：</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label>订单号：</label>
                        <input type="text" class="form-control" id="order_sn" name="order_sn">
                    </div>
                    <div class="form-group">
                        <label>订单状态：</label>
                        <select name="status" id="status" class="form-control">
                            <option value="W">请选择</option>
                            <option value="X">第一轮</option>
                            <option value="V1">第二轮</option>
                            <option value="V2">第三轮</option>
                            <option value="V3">第四轮</option>
                            <option value="V4">出局</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-noraml">下单时间段</label>
                        <div class="input-daterange input-group">
                            <input type="date" class="form-control" id="start">
                            <span class="input-group-addon">到</span>
                            <input type="date" class="form-control" id="end">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>


                </div>
            </form>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable" data-height="700">
                        <thead>
                        <th data-field="order_num">订单号(点击查看详情)</th>
                        <th data-field="name">收货人</th>
                        <th data-field="phone">收货人手机号</th>
                        <th data-field="goods_price">商品总价格</th>
                        <!--<th data-field="total_fee">应付金额</th>-->
                        <!--<th data-field="address">收货地址</th>-->
                        <!--<th data-field="pay_type">支付类型</th>-->
                        <th data-field="status">状态</th>
                        <th data-field="created_at">下单时间</th>
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<div id="tb" style="display: none">
    <div class="col-sm-6" style="width: auto">
        <div class="ibox float-e-margins" >
            <div class="ibox-title">
                <h5>边框</h5>

            </div>
            <div class="ibox-content">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>当前状态</th>
                        <th>距离下一轮</th>
                        <th>薪资</th>
                        <th>平台运营</th>
                        <th>招募工资</th>
                        <th>复投</th>
                        <th>进入下轮所带金额</th>
                      	<th>详情</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="sta">1</td>
                        <td id="sn">1</td>
                        <td id="xz">1</td>
                        <td id="yy">1</td>
                        <td id="zm">1</td>
                        <td id="ft">1</td>
                        <td id="jr">1</td>
                      	<td id="xq">1</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

<div class="col-sm-4" id="tree" style="display: none"></div>


<!-- End Panel Other -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/plugins/layui/layui.js"></script>
<!--<script src="__JS__/plugins/treeview/bootstrap-treeview.js"></script>-->
<!--<script src="__JS__/demo/treeview-demo.js"></script>-->
<script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "./index", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 15,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [ 15, 20, 25,30,35],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            //设置为limit可以获取limit, offset, search, sort, order
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    name:$('#name').val(),
                    order_sn:$('#order_sn').val(),
                    status:$('#status').val(),
                    start:$('#start').val(),
                    end:$('#end').val(),
                };
                return param;
            },
            onLoadSuccess: function(){  //加载成功时执行
                layer.msg("加载成功", {time : 1000},function(){

                });
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);

    });
    layui.use('layer',function(){
        var layer = layui.layer;
    });
    var index;
    function sees(id){
        $.getJSON('/index/index/process', {'oid':id}, function(res){
            if(res.status==0){
                layer.msg(res.code)
            }else{
                $('#sta').text(res.status);
                $('#sn').text(res.code+'单');
                $('#xz').text(res.xz);
                $('#yy').text(res.yy);
                $('#zm').text(res.zm);
                $('#ft').text(res.ft);
                $('#jr').text(res.jr);
              var xq = '当前层数：'+res.l+"<br/>当前层所在位置："+res.num
             	$('#xq').html(xq);
//            console.log(res);return;
                index = layer.open({
                    type: 1,
                    title: "订单进度",
                    shadeClose: true,
                    area: ['650px', '500px'], //宽高
                    content:$('#tb').html()
                });
            }
//            console.log(res);return;

        })

    }
  function tree(id) {
        $.ajax({
            url:'/index/index/tree',
            data:{id:id},
            success:function(res){
                var d = res[0];
                var ul = '<div class="ibox float-e-margins"><div class="ibox-title"><h5>默认</h5><div class="ibox-tools"></div></div><div class="ibox-content">'
                ul += "<ul><li>"+ d.order_num;//1
                    if (Object.keys(d).length > 5) {
                        ul = ul + "<ul class='one'>";//2
                        $.each(d.child, function (index1, value1) {
                            ul += '<li>' + value1.order_num;
                            if (Object.keys(value1).length > 5) {
                                ul = ul + "<ul class='two'>";//3
                                $.each(value1.child, function (index2, value2) {
                                    console.log(value2.order_num);
                                    ul += '<li>' + value2.order_num;
                                    if (Object.keys(value2).length > 5) {
                                        ul = ul + "<ul class='three'>";//4
                                        $.each(value2.child, function (index3, value3) {
                                            ul += '<li>' + value3.order_num + '</li>';
                                        });
                                        ul += '</ul>'
                                    }
                                    ul += '</li>'
                                });
                                ul += '</ul>'
                            }
                            ul += '</li>'
                        });
                        ul += '</ul>'
                    }
                ul += '</li></ul></div></div>';
                $('#tree').html(ul)
                index = layer.open({
                    type: 1,
                    title: "订单详情",
                    shadeClose: true,
                    area: ['650px', '500px'], //宽高
                    content:$('#tree').html()
                });

            }
        });
    }


    function timeToString(time){
        time = time * 1000;
        var date = new Date(time);
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate() + ' ';
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D+h+m+s;
    }
</script>
</body>
</html>
